#main{
	width: 50%;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	background-color: red;
}
.card{
	width: 25%;
	background-color: bisque;
	text-align: center;
}
.card>.c1>img{
	width: 10%;
	margin: 4%;
	border-radius: 22%;
}
/*.card>.c1{
	position: fixed;
}*/
.right{
	width: 74%;
	background-color: blue;
}
/*.....mini laptop.....*/
@media(min-width:781px ) and (max-width: 992px){
	.main{
		flex-direction: row-reverse;
	}
	.card{
		width: 100%;
	}
	.data{
		width: 100%
	}
	.card{
		display: flex;
	}
	.c1,.c2{
		width: 49%;
	}
	.card>.c1{
		position: fixed;
	}
}
/*......mobile.......*/
@media(min-width:320px ) and (max-width: 480px){
	.main{
		flex-direction: column-reverse;
	}
	.card{
		width: 100%;
	}
	.data{
		width: 100%
	}
	.card{
		display: flex;
	}
	.c1,.c2{
		width: 49%;
	}
}
/*...........tab.......*/
@media(min-width:781px ) and (max-width: 900px){
	.main{
		flex-direction: row-reverse;
	}
	.card{
		width: 100%;
	}
	.data{
		width: 100%
	}
	.card{
		display: flex;
	}
	.c1,.c2{
		width: 49%;
	}
	.card>.c1{
		position: fixed;
	}
}